.requisitionOuterContainer {
    padding: 2rem 3.6rem;
    .req-navbar-group {
        padding: 1rem 2rem;
        .btn-margin {
            margin: 0 1rem;
        }
    }
    .req-table-container {
        padding: 1rem 2rem;
        width: 80vw;
        min-height: 40vh;
        overflow: scroll;
        .table-info-container{
            padding: 1rem 0;
        }
    }
    .req-form-outerContainer{
        width: 50vw;
        .reqFormContainer {
            width: 50%;
            margin: 0 auto;
        }
    }
   
}