/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./assets/styles/variables";
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;

}

:root {
  // font-size: 62.5%;
  font-size: 62.5%;
  body {
    margin: 0;
    // Body font size 16px
    font-size: 1.6rem;
  }
}

.btn {
  font-size: 1.4rem;
}

.modal-custom {
  position: fixed;

    /* center */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* ensure in front of rest of page -- increase as needed */
    z-index: 1001;

    /* visual illusion of being in front -- alter to taste */
    box-shadow: rgba(0,0,0,0.4) 10px 10px 4px;

    /* visual illusion of being a solid object -- alter to taste */
    background-color: $grey1;
    border: 1px solid $grey2;

    /* visual preference of don't crowd the contents -- alter to taste */
    padding: 10px;
}
