$font-regular: 'poppinsregular';
$font-bold: 'poppinssemibold';
$font-medium: 'poppinsmedium';
$font-extraBold: 'poppinsextrabold';

$theme1:#097392;
$theme2:#83B4B3;
$theme3:#FFF0CE;
$theme4:#D55534;
$theme5: #383838;
$grey1:#F5F5F5;
$grey2:#D3D3D3;
$grey3:#C0C0C0;
$grey4:#B0B0B0;
$grey5:#383838;
$white:#FFFFFF;

